.post_title {
  margin: 20px;
  font-size: 40px;
}

.post_title h2,
h3 {
  margin: 15px !important;
}
div.post-page div.image img {
  padding: 20px 20px;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}
div.post-page p.author {
  font-size: 12px;
}
div.post-page p {
  line-height: 1.8;
}
div.edit-post {
  text-align: center;
}
div.post-page a.edit-btn {
  background-color: aquamarine;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  border-radius: 0.3em;
  text-decoration: none;
  color: white;
  gap: 5px;
  cursor: pointer;
  margin-top: 10px;
}
div.post-page a svg {
  width: 24px;
}
