body {
  color: #222;
}
img {
  width: 100%;
}
main {
  padding: 10px;
  max-width: 700px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-top: 20px;
}

header a {
  text-decoration: none;
  color: inherit;
}

header a.logo {
  font-weight: bold;
  font-size: 1.5rem;
}

header nav {
  display: flex;
  gap: 15px;
}

div.post {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
  margin-bottom: 20px;
}

div.content h2 {
  margin: 0;
  font-size: 1.8rem;
}

.info {
  margin: 10px 0;
  color: #888;
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: star;
  align-items: center;
  gap: 25px;
}

.author {
  color: #333;
}

img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 0.5em;
}

.summary {
  margin: 10px 0;
  line-height: 1.8;
}
